# Игнорировать временные файлы
*.log
*.pot
*.out
*.test

# Игнорировать файлы, созданные go test
/test.out

# Игнорировать бинарные файлы
*.exe
*.dll
*.so

# Игнорировать файл сборки
/build/

# Игнорировать конфигурационные файлы
*.env

# Игнорировать каталоги зависимостей и временные файлы
/vendor/
/Godeps/
/data/
/bin/

# Игнорировать файлы конфигурации проекта
.idea/

# Игнорировать файлы настроек редактора
.vscode/
*.sublime-workspace
*.sublime-project

# Игнорировать файлы и каталоги с локальными настройками
.DS_Store
Thumbs.db
setup.sh
